



<div class="container">


    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" style="color:black" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.

                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div style="color:black" class="card-body">
                    Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button style="color:black" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div style="color:black" class="card-body">
                    Some placeholder content for the second accordion panel. This panel is hidden by default.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button style="color:black" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </button>
                </h2>
            </div>
            <div id="collapseThree" style="color:black" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div  style="color:black" class="card-body">
                    And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" style="color:black" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Collapsible Group Item #2
                    </button>
                </h2>
            </div>
            <div id="collapseFour" style="color:black" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div style="color:black" class="card-body">
                    Some placeholder content for the second accordion panel. This panel is hidden by default.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button style="color:black" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Collapsible Group Item #2
                    </button style="color:black">
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div style="color:black" class="card-body">
                    Some placeholder content for the second accordion panel. This panel is hidden by default.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button style="color:black" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Collapsible Group Item #2
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div style="color:black" class="card-body">
                    Some placeholder content for the second accordion panel. This panel is hidden by default.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button style="color:black" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" ">
                        Collapsible Group Item #2
                    </button>
                </h2>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div style="color:black" class="card-body">
                    Some placeholder content for the second accordion panel. This panel is hidden by default.
                </div style="color:black">
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button style="color:black" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Collapsible Group Item #2
                    </button>
                </h2>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div style="color:black" class="card-body">
                    Some placeholder content for the second accordion panel. This panel is hidden by default.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button style="color:black" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        Collapsible Group Item #2
                    </button>
                </h2>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div style="color:black" class="card-body">
                    Some placeholder content for the second accordion panel. This panel is hidden by default.
                </div>
            </div>
        </div>
    </div>
</div>