
<div class="centered">

    <i class="fa fa-check" style="color:lawngreen; font-size:100px;border-radius:50%;border:lawngreen solid 1px" ></i>
    <h3 style="color:lawngreen">Order Has Been Placed Successfully</h3>
</div>