<link href="~/css/Authorized/Authorized.css" rel="stylesheet" />

<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollape" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
 
    <ul class="list-unstyled components mb-5" clas="p-4 pt-5">
        <li>
            <a asp-action="Index" asp-controller="Panel"><span class="mr-3"></span>Main Page</a>
        </li>
        <li class="active">
            <a asp-action="AddProductPanel" asp-controller="Panel"><span class="mr-3"></span>Add New Product</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Blog"><span class="mr-3"></span>Blog Manager</a>
        </li>
        <li>

            <a asp-action="Favourites" asp-controller="Panel"><span class="mr-3"></span>Favourites</a>
        </li>
        <li>

            <a asp-action="NewsLetter" asp-controller="Administration"><span class="mr-3"></span>News Letters</a>
        </li>
        <li>
            <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span class="mr-3"></span>Order Manager
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu3">
                <li>
                    <a asp-controller="Panel" asp-action="OrderList">
                        <span class="fa fa-chevron-right mr-2"></span>Order Manager
                    </a>
                </li>

                <li>
                    <a asp-controller="Administration" asp-action="OrderHistory">
                        <span class="fa fa-chevron-right mr-2"></span>Order History
                    </a>
                </li>

            </ul>
        </li>


        <li>
            <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span class="mr-3"></span>Role Manager
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu2">
                <li>
                    <a asp-controller="Administration" asp-action="GetRoles">
                        <span class="fa fa-chevron-right mr-2"></span>Roles List
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span class="mr-3"></span>User Manager
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li>
                    <a asp-controller="Administration" asp-action="GetUsers">
                        <span class="fa fa-chevron-right mr-2"></span>Users List
                    </a>
                </li>

            </ul>
        </li>
        <li>
            @*THIS SHIT MUST BE HOOKED UP*@
            <a asp-action="AccountDetails" asp-controller="Administration"><span class="mr-3"></span>Account Details</a>
        </li>
        <li>

            <a asp-action="ChangePassword" asp-controller="Auth"><span class="mr-3"></span>Change Password</a>
        </li>






    </ul>

</nav>
<script src="~/js/mainPanel.js"></script>