@model EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}
<link href="~/css/Authorized/Authorized.css" rel="stylesheet" />

<div class="wrapper d-flex align-items-stretch">
    <partial name="_AdministrationSidebar">

        <div id="content" class="p-4 p-md-5 pt-5" style="width:100%">
            <h1>Edit User</h1>

            <form method="post" class="mt-3">
                <div class="form-group row">
                    <label asp-for="Id" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Id" disabled class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="UserName" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>


                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-dark">Update</button>
                        <a asp-action="ListUsers" class="btn btn-danger">Cancel</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3>User Roles</h3>
                    </div>
                    <div >

                    </div>
                    <div class="card-body" id="rolesList">
                      @await Html.PartialAsync("_RolesList",Model.Roles)
                    </div>
                    <div class="card-footer">
                        @*asp-action="ManageUserRoles" asp-route-userId="@Model.Id"*@
                        <a style="width:auto;color:white"  onclick="showInPopup('@Url.Action("ManageUserRoles","Administration",new { userId = Model.Id },Context.Request.Scheme)','ManageRole')"
                           class="btn btn-dark">
                            Manage Roles
                        </a>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header">
                        <h3>User Claims</h3>
                    </div>
                    <div class="card-body">
                        @if (Model.Claims.Any())
                        {
                            foreach (var claim in Model.Claims)
                            {
                                <h5 class="card-title">@claim</h5>
                            }
                        }
                        else
                        {
                            <h5 class="card-title">None at the moment</h5>
                        }
                    </div>
                    <div class="card-footer">
                        <a onclick="showInPopup('@Url.Action("ManageUserClaims","Administration",new { userId = Model.Id },Context.Request.Scheme)','ManageClaims')"
                           style="width:auto;color:white" class="btn btn-dark">
                            Manage Claims
                        </a>
                    </div>
                </div>
            </form>
            </div>
       </div>

